<h1>Login Page</h1>

<form action="/home/login" method="post">
    <label>Username: </label>
    <input type="text" name="username" value=""/>
    <label>Password: </label>
    <input type="text" name="password" value=""/>
    <button type="submit">Login</button>
</form>