<h1>Register Page</h1>

<form action="/home/register" method="post">
    <label>Username: </label>
    <input type="text" name="username" value=""/>
    <label>Password: </label>
    <input type="text" name="password" value=""/>
    <button type="submit">Register</button>
</form>