<h1>JavascriptClient Index Page</h1>
<hr>
<button onclick="signIn()">SignIn</button>
<hr>
<div>
    <button onclick="signOut()">Sign Out</button>
</div>
<hr>
<div>
    <button onclick="callApi()">Call Api One</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.5/oidc-client.min.js"></script>
<script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>

<script src="~/main.js"></script>